
  .nav
  {
   
    background-color: black;
   
  }
  .logo
  {
    height: 50px;
  }
  .text
  {
    text-align: center;
    color: white;
    font-style: italic;
    font-size: 30px;
    margin-left:5%;
  }


 


  
  
  
  
  