
  .nav
  {
   
    background-color: #141636e1;
   
  }
  .logo
  {
    margin-top: 1%;;
    height: 70px;
  }
  .text
  {
    text-align: center;
    color: white;
    font-style: italic;
    font-size: 30px;
    margin-left:5%;
  }


 


  
  
  
  
  